

<div class="container">
  <div class="page-header">
    <h1>Welcome Image Search Engine</h1>      
  </div>     
</div>



<div class="container">
 
  <div class="row">
    <div class="col-md-12">
     
<form>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search" ng-model="serachImage"/>
    <div class="input-group-btn" ng-click="searchImage(serachImage)">
      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
</form>
    </div>
   
</div>
<div id="loading" ng-show="isLoaded">
<img id="loading-image" src="images/loading.gif" alt="Loading..." />
</div>
<div class="container">
  <h2 ng-show="imageData">Image Gallery</h2>
  <div class="row">
    <div class="col-md-4" ng-repeat="img in imageData track by $index">
      <div class="thumbnail">
        <a href="{{img.url}}" target="_blank">
          <img src="{{img.url}}" alt="Lights" style="width:100%">
          <div class="caption">
            {{img.name}}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>